<br><br>
<!-- NgStyle -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="page-header" style="text-decoration: underline; text-decoration-color: rgb(15, 139, 139);">Ahora puedes ver mas cerca tu producto</h2>
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <img [ngClass]="{'imagen-ampliada': anchoImagen > 200}" [ngStyle]="{ width: anchoImagen + 'px' }" class="mx-auto d-block" src="../assets/img/hot10.jpg" alt="Imagen">
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-12 d-flex justify-content-center flex-wrap">
      <button class="btn btn-primary" (click)="ampliar()">Ampliar</button>
      <button class="btn btn-secondary mx-2" (click)="reducir()">Reducir</button>
    </div>
  </div>
</div>
<br>
<br>
