<nav class="navbar bg-body-dark fixed-to" style="background-color: rgb(11, 30, 73);"
  [style.background-color]="backgroundColor">
  <div class="container-fluid">
    <a class="navbar-brand"><img
        src="https://images.vexels.com/media/users/3/204690/isolated/preview/ccb652d1ca11908eeb950eb670c02619-telefono-celular-sonando-icono-azul.png"
        alt="logo" style="height: 50px; width: 80px "></a>
    <input type="color" [(ngModel)]="backgroundColor" (change)="onBackgroundColorChange(backgroundColor)">
    <button class="navbar-toggler" style="background-color: white;" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" style="background-color: rgb(11, 30, 73);"  id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header d-flex align-items-center justify-content-between">
        <a class="navbar-brand">
          <img
            src="https://images.vexels.com/media/users/3/204690/isolated/preview/ccb652d1ca11908eeb950eb670c02619-telefono-celular-sonando-icono-azul.png"
            alt="logo" style="height: 50px; width: 80px ">
        </a>
        <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="offcanvas"
          aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" ngbNav>
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="--bs-scroll-height: 100px;">
          <li class="nav-item" ngbNavItem>
            <a class="nav-link active text-light"  href="#inicio" ngbNavLink>Inicio</a>
          </li>
          <li class="nav-item" ngbNavItem>
            <a class="nav-link active text-light" href="#home" ngbNavLink>Productos</a>
          </li>
          <li class="nav-item" ngbNavItem>
            <a class="nav-link active text-light" href="#comen" ngbNavLink>Comentarios</a>
          </li>
          <li class="nav-item" ngbNavItem>
            <a class="nav-link active text-light" href="#contact3" ngbNavLink>Api del Clima</a>
          </li>
          <li class="nav-item d-flex justify-content-end mt-3">
            <a class="btn btn-outline-light" href="#">Login</a>
            <a class="btn btn-outline-light mx-2" href="#">Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>




<ng-template #homeContent>
  <section id="home" class="container-fluid">
  </section>
</ng-template>

<ng-template #homeContent2>
  <section id="comen" class="container-fluid">
  </section>
</ng-template>

<ng-template #homeContent3>
  <section id="contact3" class="container-fluid">
  </section>
</ng-template>


<div ngbNavContent>
  <app-main>
    <ng-container *ngTemplateOutlet="homeContent"></ng-container>
  </app-main>
  <app-comentarios>
    <ng-container *ngTemplateOutlet="homeContent2"></ng-container>
  </app-comentarios>
  <app-climaapi>
    <ng-container *ngTemplateOutlet="homeContent3"></ng-container>
  </app-climaapi>

</div>
