.shadow-left-bottom {
  box-shadow: -20px 20px 8px -8px rgba(0, 0, 0, 0.2);
}

#mensaje-no-productos {
  color: red;
  font-weight: bold;
}
.dropdown-menu{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border-color: black;
}

