<footer class="py-3" style="background-color: rgb(11, 30, 73);">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h5 class="text-white">Tienda Virtual</h5>
        <p class="text-white">Hecho por Billy Salmerón con Angular y Boostrp 5 || Programación Visual</p>
        <button class="btn btn-danger" (click)="destroyComponent()">Cerrar</button>
      </div>
      <div class="col-md-3">
        <h5 class="text-white">Enlaces Rápidos</h5>
        <ul class="list-unstyled">
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-white">Contacto</h5>
        <ul class="list-unstyled">
          <li><i class="fas fa-map-marker-alt"></i> <h6 class="text-danger">Dirección:</h6><h6 class="text-white">Calle Falsa 123</h6></li>
          <li><i class="fas fa-phone"></i> <h6 class="text-danger">Teléfono:</h6><h6 class="text-white">+123 456 789</h6></li>
          <li><i class="fas fa-envelope"></i> <h6 class="text-danger">Correo Electrónico:</h6> <h6 class="text-white">info@misitioweb.com</h6></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row border-top">
      <div class="col-md-6 mb-3 py-4">
        <p class="text-white">&copy; 2023 Mi Sitio Web. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-md-end py-4">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#" class="text-white">Términos de Uso</a></li>
          <li class="list-inline-item"><a href="#" class="text-white">Política de Privacidad</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
